* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6d54b5;
  --secondary: #2c2638;
  --input-bg: #3c364c;
}

html,
body {
  height: 100%;
  width: 100%;
}
a {
  color: var(--primary) !important;
}
body {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary);
  padding: 0.5rem;
  color: white;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}
aside {
  width: 50%;
  height: 100%;
  background-image: url(../images/bg-image.jpg);
  background-size: 100% 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
aside > header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}
aside > header button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.25rem 1rem;
  text-wrap: nowrap;
  border-radius: 30px;
}
aside > header button > svg {
  height: 1rem;
  width: 1rem;
  stroke-width: 2px;
}
aside .foot-note {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

main {
  width: 50%;
  height: 100%;
  display: flex;
}

main > #auth-wrapper {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#auth-wrapper > header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#auth-wrapper > header > p {
  font-size: 12px;
  color: gray;
}

#auth-wrapper > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-input>.password-input-wrapper {
  position: relative;
}
.form-input  input {
  width: 100%;
  display: block;
  padding: 0.65rem 1rem;
  font-size: 0.85rem;
  background-color: var(--input-bg);
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  caret-color: white;
}
.form-input  input:focus {
  border: 1px solid white;
}
.form-input  input::placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.85rem;
  font-weight: 500;
}

.form-input .form-error{
  color: red;
  font-size: 12px;
  margin-top: 0.25rem;
}

.forgot-password {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.show-hide {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0.5rem;
  height: 1rem;
  cursor: pointer;
}
.show-hide > svg {
  height: 1rem;
  /* width: 1rem; */
}
.show-hide > #hide {
  display: none;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button[type="submit"] {
  background-color: var(--primary);
  color: white;
  padding: 0.85rem 1rem;
  border-radius: 0.5rem;
}

button[type="reset"] {
  border-radius: 0.25rem;
  font-size: 12px;
  padding: 0.35rem 0.5rem;
  color: var(--primary);
  background-color: white;
}
.alert{
  position: relative;
  background-color: rgba(250, 194, 194, 1);
  color: rgb(194, 4, 4);
  font-weight: 500;
  padding: 0.65rem 1.125rem;
  font-size: 12px;
  border-radius: 0.275rem;
}
.alert[aria-hidden=true]{
  display: none;
}
.alert[aria-hidden=false]{
  display: block;
}
.alert>.alert-close-btn{
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0;
  font-size: 14px;
  color: rgb(202, 16, 16);
  padding-top: 0.75rem;
  padding-right: 0.75rem;
}

@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
  main {
    width: 100%;
  }
  main > #auth-wrapper {
    width: 80%;
  }
  main header > h1 {
    text-wrap: nowrap;
    font-size: 1.5rem;
  }
}
